* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f8f8fa;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 6px;
    padding-left: 6px;
}

header a {
    border-right: 1px solid black;
}

ul {
    padding: 0px;
    margin: 9px 5px;
}

i {
    display: block;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 18px;
}

div.header-top {
    background-color: white;
}


/* container */

.container {
    background-color: #fff;
    display: flex;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
    width: 98%;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(130, 131, 136);
}


/* Left Div */

div.left {}

.fab.fa-whatsapp {
    color: rgb(12, 112, 74);
    font-weight: bolder;
}

.fas.fa-headset {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


/* Right Div */

div.right {}

.fa-globe-americas {
    color: darkblue;
}

.fa-dollar-sign {
    color: darkslategray;
}

@media screen and (max-width: 400px) {
    .whatsapp {
        display: block;
        margin-top: 2px;
        margin-top: 2px;
    }
    #chat-with-us {
        display: none;
    }
}


/* For Mobile Screens  XS */

@media screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 11px;
        line-height: 8px;
    }
    div.left,
    div.right {
        flex-grow: 1;
        text-align: center;
        width: 60%;
    }
    ul {
        margin: 0px;
    }
    div.right ul {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    i {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 95%;
        max-width: 1650px;
    }
}


/* Main Content */

div.main-content {
    font-family: "poppins", sans-serif;
    position: relative;
}


/* Navbar */

div.navbar {
    max-width: 1800px;
    margin: initial;
    position: sticky;
    top: -1px;
    overflow: hidden;
}


/* Navbar inner */


/* Navbar element */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

nav i {
    margin-left: 5px;
    margin-right: 5px;
}


/* Navbra start */

div.Navbar-start {
    display: flex;
    width: 200px;
    font-size: 14px;
    background-color: initial;
    align-items: center;
}

@media screen and (min-width: 770px) {
    div.Navbar-start {
        width: 147px;
        background-color: initial;
    }
}

div.Navbar-start i {
    font-size: inherit;
    margin-left: 0px;
}


/* Navbar catagories */

div.navbar-catagories {
    display: none;
}


/*Navbar-logo*/

@media screen and (max-width: 768px) {
    div.Navbar-start {
        order: 1;
        width: 147px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 770px) {
    div.logo {
        width: 74px;
        margin-right: 0px;
    }
    div.navbar-mobile-menu {
        font-size: 30px;
        margin-right: 30px;
        width: 23px;
    }
}

@media screen and (min-width: 1070px) {
    div.Navbar-start {
        display: flex;
        width: 200px;
        font-size: 14px;
        background-color: initial;
        align-items: center;
    }
    div.navbar-catagories {
        width: 104px;
        display: initial;
    }
    div.navbar-mobile-menu {
        display: none;
    }
    div.logo {
        width: 96px;
    }
}

@media screen and (max-width: 375px) {
    div.Navbar-start {
        width: 80px;
        background-color: initial;
    }
    div.logo img {
        width: 62px;
    }
}

@media screen and (max-width: 300px) {
    div.logo img {
        width: 48px;
    }
}


/* Mobile Navbar Menu */

div.navbar-mobile-menu i {
    color: rgb(38, 38, 39);
}

@media screen and (max-width: 375px) {
    div.navbar-mobile-menu i {
        font-size: 25px;
    }
}

@media screen and (min-width: 375px) {
    div.navbar-mobile-menu i {
        font-size: 25px;
    }
}


/* Navbar center serch */

div.Navbar-center-serch {
    background-color: initial;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 45px;
    margin: 10px 0px;
    padding: 0px;
}


/* Center inner */

div.center-inner {
    width: 100%;
    padding: 0 2%;
    padding: 3px 4px;
    height: 45px;
}


/* Form */

form {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f7f7f9;
    align-items: center;
    border: 1px solid #f7f7f9;
    border-radius: 20px;
    height: 39px;
    flex-shrink: 0;
}

@media screen and (max-width: 645px) {
    div.form-dropdown {
        display: none;
    }
}

div.serchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

div.serchbar input {
    width: 95%;
    height: 30px;
    border: none;
    font-size: 16px;
    background-color: #f7f7f9;
    border-left: 1px solid rgba(97, 95, 95, 0.24);
    border-right: 1px solid rgba(97, 95, 95, 0.24);
    padding-left: 5px;
}

div.serchbar input:focus {
    border: none;
    outline: none;
}

div.serch-button {
    margin-left: 10px;
    border: 1px solid #ffb100;
    border-radius: 50%;
    background-color: #ffb100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    margin-right: 3px;
}

div.serch-button i {
    font-size: 12px;
    color: honeydew;
}

div.country {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    width: 86px;
    background-color: initial;
    font-weight: bold;
}

div.country img {
    width: 25px;
    height: 15px;
}

@media screen and (min-width: 1070px) {
    div.form-dropdown {
        width: 57px;
        background-color: initial;
    }
}


/*Navbar End*/

div.Navbar-end {
    background-color: initial;
    display: flex;
    align-items: center;
}

div.Navbar-end a {
    padding: 0px;
    background-color: initial;
}

@media screen and (min-width: 992px) {
    div.Navbar-end {
        background-color: initial;
        width: 346px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 293px) {
    div.Navbar-end {
        width: auto;
        padding-right: 8px;
    }
}

div.Navbar-end ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    flex-grow: 1;
}


/* Interchange of text in navbar end */

span.desktop-navbar-end {
    display: none;
}

@media screen and (min-width: 992px) {
    span.desktop-navbar-end {
        display: initial;
    }
    span.mobile-navbar-end {
        display: none;
    }
}


/* END OF Interchange of text in navbar end */

@media screen and (min-width: 1070px) {
    div.Navbar-end {
        background-color: initial;
        width: 335px;
        font-size: 14px;
    }
    div.Navbar-end a {
        padding: 0px;
    }
}


/* FOR MOBILE SCREENS */

@media screen and (max-width: 768px) {
    div.Navbar-center-serch {
        order: 3;
        width: 500px;
        height: 53px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 7 0 7px 0;
        background-color: rgb(247, 247, 249);
    }
    div.center-inner {
        height: 57px;
        padding: 0px 5px;
        margin-bottom: 0px;
        height: 39px;
    }
    div.Navbar-end {
        order: 2;
    }
    form {
        background-color: #ffffff;
    }
    div.serchbar input {
        background-color: #ffffff;
    }
    nav {
        padding-top: 5px;
        padding-left: 5px;
    }
}


/* BREAD CRUMBS */

div.breadcrumbs {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 0px 8px 15px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
}

div.breadcrumbs a {
    padding: 0px;
}

div.breadcrumbs ul {
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 400px) {
    div.breadcrumbs {
        font-size: 12px;
        padding-left: 5px;
    }
}


/* BETA */

div.shop-category-text {
    display: flex;
    white-space: nowrap;
    width: 95%;
    margin: auto;
}

div.shop-category-text p {
    padding-right: 16px;
    margin: 8px 0px 0px;
    font-weight: bolder;
}

div.shop-category-text div.continue-line {
    border-top: 1px solid rgba(143, 143, 143, 0.562);
    width: 100%;
    align-self: center;
    margin-left: 10px;
    margin-right: 20px;
}


/* BETA */


/* Shop category */

div.shop_category {
    /* background-color: chocolate; */
    width: 95%;
    margin: auto;
    padding: 10px;
}

div.shop-category-parent {
    display: flex;
}

div.shop-category-child {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.137);
    position: relative;
    z-index: -1;
}

div.shop-category-child:hover {
    outline: solid 2px rgb(245, 211, 62);
}

div.shop-category-child.child-4 {
    display: none;
}

@media screen and (max-width: 480px) {
    div.shop-category-parent {
        gap: 4%;
        flex-wrap: wrap;
    }
    div.shop-category-child {
        width: calc(96% / 2);
        /* background-color: rgb(40, 151, 133); */
    }
    div.shop-category-child.child-4,
    div.shop-category-child.child-3 {
        display: initial;
        margin: 4% auto 0px;
    }
}

@media screen and (min-width: 480px) {
    div.shop-category-parent {
        gap: 2%;
    }
    div.shop-category-child {
        width: calc(96% / 3);
        /* background-color: rgb(174, 0, 255); */
    }
}

@media screen and (min-width: 600px) {
    div.shop-category-parent {
        gap: 2%;
    }
    div.shop-category-child {
        width: calc(94% / 4);
        /* background-color: rgb(255, 0, 0); */
    }
}

@media screen and (min-width: 960px) {
    div.shop-category-parent {
        gap: 2.5%;
    }
    div.shop-category-child {
        width: 18%;
        /* background-color: lime; */
    }
}

@media screen and (min-width: 1200px) {
    div.shop-category-parent {
        gap: 2%;
    }
    div.shop-category-child {
        width: calc(90% / 6);
        /* background-color: rgb(76, 49, 141); */
    }
}

@media screen and (min-width: 1500px) {
    div.shop-category-parent {
        gap: 1%;
    }
    div.shop-category-child {
        width: calc(92% / 9);
        /* background-color: rgb(244, 247, 75); */
    }
}


/* Item Product List */

div.shop-category-child li a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 90px;
    padding: 18px 15px 0px;
    max-width: 140px;
}

div.shop-category-child li a:hover {
    cursor: pointer;
}

div.shop-category-child li::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: absolute;
    left: 16px;
    bottom: 12px;
    color: rgba(0, 0, 0, 0.459);
}

div.shop-category-child li a p {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin: 0px;
    align-self: flex-start;
}

div.shop-category-child li a figure {
    margin: 0px;
    align-self: flex-end;
}

div.shop-category-child li a figure img {
    width: 63px;
    margin: 0px;
}

@media screen and (min-width: 769px) {
    div.shop-category-child li a figure img {
        width: 73px;
    }
}


/* END OF PRODUCT LIST */